@model Server.Models.Сountry
@{
    ViewData["Title"] = "Главная страница";
}

<form asp-controller="Home" asp-action="Details" method="get">
    <p>
        Название страны: <input type="text" asp-for="Name" id="MyInput" required />
        <input type="submit" value="Найти" />
    </p>
</form>